<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Use <%= botname %></title>
  </head>
  <body>
    <h1>Welcome to <%= botname %>!</h1>
    <p>TODO</p>
  </body>
</html>
