<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%= botname %> added</title>
  </head>
  <body>
    <h1>Success!</h1>
    <p>
      <%= botname %> has joined the chat of <%= login %>!<br />
      Mod it to increase rate limits<br />
      Don't like it? You can remove the bot <a href="/remove">here</a>.
    </p>
  </body>
</html>
