<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title>Setup complete</title>
  </head>
  <body>
    <h1>Setup complete</h1>
    <p>Streamers can now add the bot <a href="/add">here</a></p>
  </body>
</html>
